body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
}

html {
    scroll-behavior: smooth;
}
  

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: rgba(51, 51, 51, 0.5);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro span {
	display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);

	padding: 0 10px 0 0;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 65px;
}

.intro__title {
    margin-left: 50px;    

    color: #fff;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
}

.container__title {
    text-align: center;

    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;

    height: 100px;
}

.topic {
    height: 100vh;
}

.taste__title {
    height: 40px;
}

.tastes__item {
    width: 33%;

    margin: 30px;
}

.tastes__container {
    height: 100% - 140px;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.jokes {
    max-height: 400px;

    overflow-y: scroll;
}

.jokes::-webkit-scrollbar {
    display: none;
}


.jokes::-webkit-scrollbar-thumb {
    display: none;
}

.jokes::-webkit-scrollbar-button {
    display: none;
}


body::-webkit-scrollbar {
    display: none;
}


body::-webkit-scrollbar-thumb {
    display: none;
}

body::-webkit-scrollbar-button {
    display: none;
}

.container__tastes {
    background: url("../images/steam.png") right no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
} 